@import '~treeflex/dist/css/treeflex.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.tf-custom .tf-nc {
  @apply hover:bg-yellow-50 border-purple-300
}

.tf-custom .tf-nc.selected {
  @apply bg-orange-400 border-orange-500
}

.tf-custom .tf-nc.unselectable {
  @apply border-red-400 bg-red-300
}

.App {
  background-color: cornsilk;
  color: mediumpurple;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
